### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
!.idea
.idea/*
!.idea/copyright/

*.iws
*.iml
*.ipr

### VS Code ###
!.vscode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other ###
bin/
.factorypath
*.log
logs
log

.DS_Store
.springBeans

cms-db-schema/liquibase.properties
ledgers-db/liquibase.properties
